tensorflow==2.4.1
cv2==4.1.2
numpy==1.19.5
PIL==7.1.2

imageio==2.4.1
matplotlib==3.2.2
skimage==0.16.2
IPython==5.5.0

pandas==0.23.4
python-dateutil==2.7.3
pytz==2018.5
PyYAML==5.1
scikit-image==0.14.0
scikit-learn==0.19.2
scipy==1.1.0
torch==1.0.0
torchvision==0.2.1
tqdm==4.24.0