scipy
tensorflow
tqdm
opencv-python
scikit-image
scikit-learn
pandas==0.23.4
imageio-ffmpeg
pillow==7.1.2

# this is manual pip install cmd for RTX3070 gpu
# pip3 install torch==1.8.1+cu111 torchvision==0.9.1+cu111 torchaudio===0.8.1 -f https://download.pytorch.org/whl/torch_stable.html
# source: https://pytorch.org/get-started/locally/

matplotlib==3.2.2
IPython==5.5.0


python-dateutil==2.7.3
pytz==2018.5
PyYAML==5.1




